*{
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
}

header {
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.817);
    z-index: 1;
}

nav ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 50px;
}

ul a {
    text-decoration: none;
    color: white;
}

nav {
    width: 60%;
    flex-direction: column;
}

nav span {
    color: white;
    font-weight: bold;
    font-size: large;
}

footer .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    
}

.img {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.container.flex-container .flex{
    flex-direction: column;
    gap: 40px;
    
}

.generos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.actores-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px
}

.actores-container section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.actor .actor-img {
    width: 100%;
    height: auto;
}

.actor {
    width: 100px;
    height: 150px;
}

#sugerenciasGeneradas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 100px;
}

.sugerencias {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 45%;
    background-color: rgba(243, 243, 243, 0.531);
}

.sugerencias .pelicula-img{
    width: 40%;
    height: auto;
}

.sugerencias h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.container-pe {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    gap: 30px;
}

.genero {
    margin: 5px;
    font-weight: bold;
}